<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>TTZip QuickLook</string>
    <key>CFBundleExecutable</key>
    <string>TTZipQuickLook</string>
    <key>CFBundleIdentifier</key>
    <string>com.wittkung.TTZip.QuickLook</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>TTZipQuickLook</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>public.zip-archive</string>
                <string>org.7-zip.7-zip-archive</string>
                <string>public.tar-archive</string>
                <string>org.gnu.gnu-zip-archive</string>
                <string>org.gnu.gnu-zip-tar-archive</string>
                <string>public.bzip2-archive</string>
                <string>org.bzip.bzip2-tar-archive</string>
                <string>org.tukaani.xz-archive</string>
                <string>org.tukaani.tar-xz-archive</string>
                <string>org.zstd.zstandard-archive</string>
                <string>org.zstd.tar-zstandard-archive</string>
                <string>com.apple.archive</string>
                <string>com.rarlab.rar-archive</string>
                <string>com.microsoft.wim-archive</string>
                <string>com.apple.disk-image-udif</string>
                <string>public.iso-image</string>
            </array>
            <key>QLSupportsSearchableItems</key>
            <false/>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.preview</string>
        <key>NSExtensionPrincipalClass</key>
        <string>QuickLookPreviewViewController</string>
    </dict>
</dict>
</plist>
